*{
    align-self: center;
}
#wrapper{
    margin: auto;
    width: 1200px;
    border: 1px solid cornflowerblue;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
}
form{
    display: grid;
    grid-template-columns: 20% 40% 10% 30%;
}
h1{
    padding-top: 30px;
    padding-left: 50px;
    grid-column: 1/5;
    color: #00008b;
}
iframe{
    height: 300px;
    grid-column: 1/3;
    padding-left: 50px;;
    padding-bottom: 20px;
}
#adres {
    grid-column: 3/5;
    align-self: flex-start;
    padding-right: 50px;
    padding-left: 20px;
}
.lijst{
    grid-column: 1/2;
    width: 200px;
    padding: 15px;
    padding-left: 50px;
    color: rgb(146,146,148);
}
.textinputs{
    grid-column: 2/3;
    width: 300px;
    Color: rgb(146,146,148);
}
#textarea{
    grid-column: 1/2;
    width: 200px;
    align-self: flex-start;
    padding: 15px;
    padding-left: 50px;
    color: rgb(146,146,148);
}
#verzendcel {
    grid-column: 2/3;
    width: 300px;
    text-align: right;
    padding: 10px;
}
#verzenden{
    margin-right: 0;
    width: 75px;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
}
textarea{
    grid-column: 2/3;
    width: 298px;
    height: 135px;
    color: rgb(146,146,148);
}
#adrestekst{
    text-align: left;
    color: black;
    padding-left: 50px;
    margin: 0;
}
nav{
    padding: 10px;
    text-align: left;
    background: url("img/header-achtergrond.jpg");
}
nav a{
    color: white;
    padding-left: 20px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: bold;
}
footer{
    margin: auto;
    width: 1200px;
    background-color: rgb(146,146,148);
    padding: 1px;
}
footer a{
    text-decoration: none;
    padding: 10px;
}
h4{
    padding-left: 50px;
    margin: 0;
}
h3{
    color: white;
    padding: 10px;
}
#foto{
    width: 100%;
    height: 100px;
}
p{
    text-align: center;
    color: white;
}